@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600&display=swap');

/* APP STYLES*/
.layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content-box {
  display: flex;
  flex-direction: column;
  place-items: center;
  min-height: 100vh;
  font-family: 'Comfortaa', cursive;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.products-title {
  border-bottom: 2px solid rgb(167, 192, 237);;
}

.products-title h2{
  margin: 25px 0 0 0;
}



/* PRODUCTS LIST STYLES */
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 30px 0 30px;
  padding: 15px;
  box-shadow: 2px 2px 2px 2px rgb(203, 200, 200);
  border-radius: 10px;
  width: 250px;
  height: 200px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card__delete {
  display: flex;
  justify-content: flex-end;
  margin-left: 50px;
  cursor: pointer;
}

.card__delete img {
  margin: 0 5px;
  opacity: 0.6;
  transition: 0.6s;
}

.card__delete img:hover {
  opacity: 2;
}



.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-btn {
  margin: 8px 0;
  border-radius: 10px;
  border: solid 1px white;
  background-color: rgb(167, 192, 237);
  width: 90px;
  height: 30px;
  cursor: pointer;
  font-weight: bolder;
  transition: 0.6s;
  font-family: 'Comfortaa', cursive;
}

.comment-btn:hover {
  background-color: rgb(65, 124, 233);
  color: whitesmoke;
}

/* ADD STYLES */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 30px 0 30px;
  padding: 15px;
  box-shadow: 2px 2px 2px 2px rgb(203, 200, 200);
  border-radius: 10px;
  width: 250px;
  height: 200px;
  font-family: 'Comfortaa', cursive;
}

.form-container-titleimg {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: flex-start;
}

.form-container-titleimg h3{
  margin-left: 60px;
}

.form-container_img {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.6s;
  max-width: 100%;
  max-height: 100%;
}

.form-container_img:hover{
    opacity: 2;
}

.form {
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
}

.input-form {
  margin: 8px 0;
  width: 180px;
  height: 25px;
  border-bottom: solid 1px gray;
  border-top: none;
  border-right: none;
  border-left: none;
  font-family: 'Comfortaa', cursive;
}

.input-form:focus{
  outline: none;
}

.form-btn {
  margin: 8px 0;
  border-radius: 10px;
  border: solid 1px white;
  background-color: rgb(167, 192, 237);
  width: 60px;
  height: 30px;
  cursor: pointer;
  font-weight: bolder;
  transition: 0.6s;
  font-family: 'Comfortaa', cursive;
}

.form-btn:hover {
  background-color: rgb(65, 124, 233);
  color: whitesmoke;
}

.form-container-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 30px 0 30px;
  padding: 15px;
  box-shadow: 2px 2px 2px 2px rgb(203, 200, 200);
  border-radius: 10px;
  width: 250px;
  height: 200px;
  font-family: 'Comfortaa', cursive;
}

/* MODAL STYLE */
.content-modal_inner {
  position : fixed;
  min-width: 700px;
  min-height: 400px;
  top: 50%;
  left: 50%;
  transform : translate(-50%,-50%);
  background-color: rgb(167, 192, 237);
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(167, 192, 237),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  z-index: 1000;
  border-radius: 10px;
}

.content-modal {
  position : fixed;
  width: 100vw;
  height: 100vh;
  top : 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color : rgba(0, 0, 0, 0.295);
  z-index : 1000;
}

.content-modal-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

.img-modal {
  cursor: pointer;
  margin: 0 5px;
  opacity: 0.6;
  transition: 0.6s;
  position: absolute;
  margin: 15px 0 0 640px;

}

.img-modal:hover {
  opacity: 2;
}

.coment-modal-none {
  font-style: italic;
  color: rgb(94, 92, 92);
}

.coment-modal-many p {
  margin: 6px;
}

.coment-modal-many hr {
  border-right: none;
  border-bottom: none;
  border-left: none;
  border-top: 1px solid rgb(132, 162, 219);
}

.form-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.form-modal p {
  font-weight: bolder;
}

.input-modal {
  margin-top: 20px;
  border-right: none;
  border-top: none;
  border-left: none;
  border-bottom: 1px solid rgb(65, 124, 233);
  background: transparent;
  width: 250px;
  height: 30px;
  font-family: 'Comfortaa', cursive;
}

.input-modal:focus {
  outline: none;
}

.btn-modal {
  margin: 20px 0;
  border-radius: 10px;
  border: none;
  background-color: rgb(65, 124, 233);
  width: 60px;
  height: 30px;
  cursor: pointer;
  font-weight: bolder;
  transition: 0.6s;
  font-family: 'Comfortaa', cursive;
  color: whitesmoke;
}

.btn-modal:hover {
  background-color: rgb(180, 216, 223);
  color: black;
}


